<li id="comment-<%= comment._id %>">
    <div class="comment-user">
        <div class="cmt-profile-img" style=" border-radius:50%; height: 50px; width: 50px; overflow:hidden">
            <%if(comment.user.avatar){%>
                <img src="<%= comment.user.avatar %>" alt="<%= comment.user.name %>"
                    style="width:100%; height:100%; border-radius:50%;">
            <%}else{%>
                <img src="/images/profile.png" alt="user not found" style="width:100%; height:100%; border-radius:50%;">
            <%}%>
        </div>
        <div class="cmt-profile-info">
            <p>
                <%= comment.user.name %>
            </p>
            <small class="cmt-time">
                <%= comment.createdAt.toString().substring(4, 21); %>
            </small>
        </div>
        <% if((locals.user) && (locals.user.id == comment.user.id || locals.user.id == post.user.id)) { %>
            <small class="cmt-del-btn">
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">DEL</a>
            </small>
        <% } %>
    </div>
    <div class="comment-actions">
        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <%= comment.likes.length %> Like
                </a>
            <% } else { %>
                <%= comment.likes.length %> Like
            <% } %>
        </small>
    </div>
    <div class="comment-content">
        <p>
            <%= comment.content %>
        </p>
    </div>
</li>