<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>

<body>
    <!-- implemented partials for header and footer -->
    <%- include('_header'); %>

    <!-- implemented layout except the 17th line everything is common part of layout but 17th is variable -->
    <main id="layout-main">
        <%- body %>
    </main>

    <%- include('_footer'); %>

    <!-- implemented flash messages -->
    <%- include('_flash'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%- script %>

</body>

</html>