<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>

<body>
    <!-- implemented partials for header and footer -->
    <%- include('_header'); %>

    <!-- implemented layout except the 17th line everything is common part of layout but 17th is variable -->
    <main id="layout-main">
        <%- body %>
    </main>

    <%- include('_footer'); %>

    <%- script %>
    <!-- implemented flash messages -->
    <%- include('_flash'); %>

</body>

</html>