
<link rel="stylesheet" href="<%= assetPath('css/user.css') %>">
<% if(profile_user.avatar) {%>
    <img src="<%= profile_user.avatar %>" alt="Profile Picture" width="100">
<% } %>
<h1>Codeial : <%= profile_user.name %></h1>

<!-- if the current user macthes the profile_user then show this update form -->
<% if(user.id == profile_user.id) {%>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <div>
            <input type="text" name="name" placeholder="New Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="New Email" value="<%= profile_user.email %>" required>
            <input type="submit" value="Update">
        </div>
        <div>
            <input type="file" id="avatar" name="avatar" placeholder="Profile Picture" onchange="imagePreview(event)">
        </div>
        <div>
            <span id="preview">
                <img src="<%= assetPath('images/placeholder-image.png') %>" alt="Placeholder Image" width="100">
            </span>
        </div>
    </form>
<!-- or else show this basic info -->
<% } else { %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    <div class="profile-actions">
        <% if(!(locals.user.friendships.includes(profile_user.id))){%>
            <% if((locals.user.sent.includes(profile_user.id))){%>
                <a href="/users/remove_req/<%=profile_user._id%>" class="edit box">Requested</a>
            <%}else if((locals.user.pending.includes(profile_user.id))){%>
                <a href="/users/accept_req/<%=profile_user._id%>" class="edit box">Accept</a>
            <%}else{%>
                <a href="/users/create_friend/<%=profile_user._id%>" class="follow edit">Follow</a>
            <%}%>
        <%}else{%>
            <a href="/users/remove_friend/<%=profile_user._id%>" class="remove edit">Unfollow</a>
        <%}%>
    </div>
<% } %>

<script src="<%= assetPath('js/user_profile.js') %>"></script>
    
